# IDE specific
.vscode/
.idea/
*.iml

# Environment files
*.env
*.env_dev
*.env_prod
client-cert.pem
client-key.pem
client.csr

#node
node_modules/
dist/
uploads/
logs/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
snapchef-main-firebase-adminsdk-fbsvc-ba187c4cfb.json
snapchefapp-*.json
