PORT=3000
DB_CONNECTION=<your_db_connection>
TOKEN_SECRET=<your_token_secret>
TOKEN_EXPIRES=<your_token_expires>
REFRESH_TOKEN_EXPIRES=<your_refresh_token_expires>
BASE_URL=http://localhost:3000
GOOGLE_APPLICATION_CREDENTIALS=<your_google_application_credentials>
GOOGLE_PROJECT_ID=<your_google_project_id>
GOOGLE_PROJECT_REGION=<your_google_project_region>
GOOGLE_PROJECT_NUMBER=<your_google_project_number>
GOOGLE_ENDPOINT_ID=<your_google_endpoint_id>
GEMINI_API_KEY=<your_gemini_api_key>
OPENAI_API_KEY=<your_openai_api_key>
UNSPLASH_ACCESS_KEY=<your_unsplash_access_key>
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=<your_smtp_user>
SMTP_PASS=<your_smtp_pass>
SMTP_FROM=<your_smtp_from>